#one {
    height: 200px;
    background-color: red;
    padding: 20px;
    margin: 30px;

}

#two {
    background-image: url(https://imgs.search.brave.com/OcJrhuatx2SCf-5oSWO4OuLVj225J68hNLISrNJELcw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxMy8w/Ny8yMS8xMy8wMC9y/b3NlLTE2NTgxOV82/NDAuanBn);
    height: 400px;
    padding: 20px;
    margin: 30px;
}

#three {
    background-image: url(https://media.gettyimages.com/id/1423200017/photo/flowers-composition-floral-pattern-made-of-various-bright-autumn-flowers-on-beige-background.jpg?s=612x612&w=0&k=20&c=Xx-gcSXH_7GqwIs7yacZfH5yJ8GVimo06MuzUJYq16k=);
    background-attachment: fixed;
    height: 500px;
}

#four {
    background: linear-gradient(90deg, rgb(13, 0, 36) 0%, rgb(196, 164, 115)53%, rgb(0, 212, 255, 1)100%);
    height: 300px;
    padding: 20px;
    margin: 30px;
}

#five {
    background: radial-gradient(rgb(211, 197, 106), aqua);
    height: 400px;
    padding: 20px;
    margin: 30px;
}